<div>
  <ion-toolbar>
    <ion-icon name="arrow-back-sharp" style="margin-left: 1%;" size="large" (click)="router.navigate([''])" slot="start"></ion-icon>
    <ion-title>New Pin</ion-title>
    <ion-button color="success" slot="end" style="margin-right: 0.5%;" (click)="save()">Save</ion-button>
  </ion-toolbar>
  <ion-item>
    <ion-label>Name (required): </ion-label>
    <ion-input [(ngModel)]="pin.name" #ctrl="ngModel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description: </ion-label>
    <ion-input [(ngModel)]="pin.desc" #ctrl="ngModel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Physical Pin (<a href="https://pinout.xyz">Pinout</a>) (required): </ion-label>
    <ion-select [(ngModel)]="pin.pin" #ctrl="ngModel">
      <ion-select-option *ngFor="let usablepin of pins" [value]="usablepin">Pin {{ usablepin }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Type (required): </ion-label>
    <ion-select [(ngModel)]="pin.type" #ctrl="ngModel">
      <ion-select-option value="out">Output</ion-select-option>
      <ion-select-option value="in">Input</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Default (required): </ion-label>
    <ion-select [(ngModel)]="pin.default" #ctrl="ngModel">
      <ion-select-option [value]="1">On</ion-select-option>
      <ion-select-option [value]="0">Off</ion-select-option>
    </ion-select>
  </ion-item>
</div>