input:focus {
    outline: none;
}

.floating{
    font-size: 75%;
    left: 0% !important;
    top: 0% !important;
    padding: 0% !important;
    margin-bottom: 7% !important;
    margin-top: 7% !important;
    border: none !important;
}