<ion-content>
  <ion-toolbar>
    <ion-icon name="arrow-back-sharp" style="margin-left: 1%;" size="large" (click)="back()" slot="start"></ion-icon>
    <!--<ion-button color="danger" slot="end" style="margin: 0.5%;" (click)="requests.delete(id)">Delete</ion-button>-->
    <ion-title>Details</ion-title>
    <ion-button color="primary" *ngIf="wsdetails.readyState != 1" (click)="connectextws()" slot="end">Connect</ion-button>
  </ion-toolbar>
  <ng-container *ngIf="wsdetails">
    <ion-item>
      <ion-input [(ngModel)]="wsdetails.name" #ctrl="ngModel" (change)="save('name', wsdetails.name)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="wsdetails.desc" #ctrl="ngModel" (change)="save('desc', wsdetails.desc)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Preferred connection method</ion-label>
      <ion-select [(ngModel)]="wsdetails.pref" #ctrl="ngModel">
        <ion-select-option value="Hostname">Hostname</ion-select-option>
        <ion-select-option value="IP">IP</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Hostname:</ion-label>
      <ion-input [(ngModel)]="wsdetails.hostname" #ctrl="ngModel" (change)="save('hostname', wsdetails.hostname)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">IP:</ion-label>
      <ion-input [(ngModel)]="wsdetails.ip" #ctrl="ngModel" (change)="save('ip', wsdetails.ip)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Port:</ion-label>
      <ion-input [(ngModel)]="wsdetails.port" #ctrl="ngModel" (change)="save('port', wsdetails.port)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Value Type:</ion-label>
      <ion-select [(ngModel)]="wsdetails.type" #ctrl="ngModel">
        <ion-select-option value="number/text">
          Number/Text
        </ion-select-option>
        <ion-select-option value="boolean">
          Boolean as on/off (true/false/1/0)
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="wsdetails.readyState == 1">
      <ion-label>Value: {{ wsdetails.value }}</ion-label>
    </ion-item>
    <div style="width: 100%; height: 20%; border-radius: 8px; justify-content: center; align-items: center; display: flex; font-size: xx-large;" *ngIf="wsdetails.type == 'boolean' && wsdetails.readyState == 1" [style]="wsdetails.value == 0 ? 'background-color: var(--ion-color-danger)' : 'background-color: var(--ion-color-success)'">
      {{ wsdetails.value == false ? "Off" : "On" }}
    </div>
  </ng-container>
</ion-content>