.alert-wrapper{
    display: inline-flex !important;
    position: absolute !important;
    width: 100% !important;
}

.deviceitem:hover{
    background-color: var(--ion-color-primary) !important;
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}